<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="MongoDB Update"
   iconfile="mongodb-update.png"
   description="MongoDb update"
   tooltip="MongoDB Update"
   category="Output"
   classname="org.pentaho.di.trans.steps.mongodbupdate.MongoDbUpdateMeta">
   <libraries>
    <library name="mongodbupdate.jar"/>
    </libraries>
    
   <localized_category>
     <category locale="en_US">Output</category>
     <category locale="it_IT">Output</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">MongoDB Update</description>
     <description locale="it_IT">MongoDB Update</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">MongoDb Update step</tooltip>
     <tooltip locale="it_IT">MongoDb Update step</tooltip>
   </localized_tooltip>
   
</plugin>
